* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li {
    list-style: none;
}
/*********** general *************/
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
:root {
    --color-navbar: #0084FD;
    --color-cardheader: #B5DDFF;
    --color-section-main: #9792E4;
    --color-button1: #0084FD;
    --color-button2: #9792E4;
    --color-footer: #333333;
    --color-section2-main: #FFFFFF;
    --color-itsfree: #fdc15f;
  }
  .container {
    max-width: 576px;
    padding: 20px;
    margin: 0 auto;
  }
  a {
    text-decoration: none;
    color: var(--color-section2-main);
  }
  p {
    line-height: 1.8;
  }
  h2 {
    margin: 30px 0;
  }
  h3 {
    margin: 20px 0;
  }
  main {
    margin-top: 100px;
  }
  section {
    padding: 30px;
  }
  /* ******** utility******* */
.m-20 {
  margin: 20px;
}
.m-top3em {
  margin-top: 3em;
}
.m-bottom {
  margin-bottom: 3em;
}
.pointer {
    cursor: pointer;
}
button {
  padding: 10px 20px;
  margin: 20px 0;
  border: 0;
  letter-spacing: 3px;
}
.icon {
  font-size: 3em;
  padding: 20px 0;
}
.padding20 {
  padding: 20px;
}
.p-top {
  padding-top: 20px;
}
.p-bottom20 {
  padding-bottom: 20px;
}
.p-bottom50 {
  padding-bottom: 50px;
}
/*******+++* flex utility ****+++++++++*/
.display-flex {
    display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-space-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
    align-content: center;
}
  /* ********** backgrounds *********** */
  .background-color-navbar {
    background-color: var(--color-navbar);
  }
  .background-color-cardheader {
    background-color: var(--color-cardheader);
  }
  .background-color-section-main {
    background-color: var(--color-section-main);
  }
  .background-color-button1 {
    background-color: var(--color-button1);
  }
  .background-color-button2 {
    background-color: var(--color-button2);
  }
  .background-color-footer {
    background-color: var(--color-footer);
  }
  .background-color-section2-main {
    background-color: var(--color-section2-main);
  }
  .color-navbar {
    color: var(--color-navbar);
  }
  .color-cardheader {
    color: var(--color-cardheader);
  }
  .color-section-main {
    color: var(--color-section-main);
  }
  .color-section2-main {
    color: var(--color-section2-main);
  }
  .color-itsfree {
    color: var(--color-itsfree);
  }
  /**************text / border ******************** */
  .tex-center {
    text-align: -webkit-center;
  }
  .text-white {
    color: var(--color-section2-main);
  }
  .text-blue {
    color: var(--color-navbar);
  }
  .text-oblique {
    font-style: oblique;
  }
  .text-small {
    font-weight: lighter;
  }
  .text-underline {
    text-decoration: underline;
  }
  .small-rounded {
    border-radius: 20px;
  }
  .big-rounded {
    border-radius: 40px;
  }
  .circle {
    border-radius: 50%;
    overflow: hidden;
  }
  /* ************header*********** */
header {
  background-color: var(--color-navbar);
  color: var(--color-section2-main);
  width: 100%;
  padding: 20px 40px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
}
header nav {
  position: relative;
}
header nav a {
  display: block;
  padding: 5px 10px;
}
header nav ul {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3001;
  background-color: var(--color-navbar);
  display: none;
}
  /* ************ MAIN************* */
  /***************  info section   ********************/
.card {
  margin-bottom: 20px;
  text-align: -webkit-center;
  padding: 20px;
}
.text-container,
.img-container {
  width: 100%;
}
.img-container img {
  width: 80%;
  margin: 0 auto;
}
#info img {
  display: block;
}
/* ************** Planning************* */
.strategic img {
  width: 100%;
  margin-bottom: 40px;
}
.developement {
  margin-top: 40px;
  text-align: -webkit-center;
  padding: 20px;
}
.developement img{
  width: 100%;
}
.btn-contrast {
  display: flex;
  width: 3em;
  height: 3em;
  font-size: 1.5em;
  background-color: var(--color-button2);
  justify-content: center;
  align-items: center;
  margin: 30px auto;
}
.developement .fa-solid {
  color: var(--color-footer);
}
/************** testimonials *********** */
.photo {
  width: 30%;
  aspect-ratio: 1 / 1;
}
.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* ************ features *********** */
.text-big {
  font-size: 2em;
}
.strong {
  font-weight: bold;
}
#features button {
  color: var(--color-section2-main);
  padding: 10px 25px;
  letter-spacing: 8px;
}
/* *********** about us ********** */
/* .right {
  width: 50%;
} */
.right img {
  width: 70%;
  height: 70%;
  object-fit: cover;
}
.right button {
  background-color: var(--color-button2);
  color: var(--color-section2-main);
}
/* ******* call to action ********** */
#call-to-action button {
  padding: 15px 30px;
}
#call-to-action .container {
  text-align: -webkit-center;
  padding: 20px;
}
/*********** footer *********** */
footer {
  text-align: -webkit-center;
  padding: 20px;
}
/*********** query ************/
@media screen and (min-width:980px){
  .container {
    max-width: 992px;
  }
  #info .container {
    display: flex;
    flex-wrap: wrap;
  
  }
  #info:first-child .card {
    width: calc([100% / 3] * 2 - 20px);
  }
  .card {
    width: calc(100% / 3 - 30px);
    margin: 10px;
  }
}

@media screen and (min-width:1200px) {
    header nav:hover ul {
        display: flex;
    }
    header nav ul {
        width: 100%;
        position: static;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .fa-solid .fa-bars {
        display: none;
    }
}